.header {
  display: inline-block;
  background-color :  rgb(39, 34, 34) ;
  width: 100vw;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.mainblock{
  background-color: rgb(44, 43, 43);
  width: 100%;
  overflow: scroll;
  height: 100vh;
  display: flex;
  justify-content: space-around;
 
}

.block {
  display: inline-block;
  margin-block-start: 10%;
  height: 65vh;
  padding-right:20px;
  padding-left:20px;
  text-align : center;
  border : solid 1px #424242 ;
  background : white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #424242 ;

}

.block > h1 {
  color: #212121;
}

.float-child1 {
  width: 75%;
  height: 100vh;
  float: left;
  background-color:  rgb(39, 34, 34);
  color: white;
}
.float {
  width: 75%;
  height: 100vh;
  float: left;
  background-color: white;
  overflow: scroll;
  color:white;
}
.float-child3 {
  width: 90%;
  height: 30vh;
  margin-inline-start: 5%;
  margin-block-start: 5%;
  float: left;
  background-color: transparent;
  color: white;
  text-align: center;
  
  border-radius: 10px;
  padding: 20px 40px;
  overflow: hidden;
}
.float-child2 {
  width: 25%;
  height: 100vh;
  float: left;
  background-color:  rgb(39, 34, 34);
  overflow: scroll;
  border: 1px solid ;
  box-shadow: 5px 1px 1px 1px #424242 ;
}
.float-child4 {
  width: 44%;
  height: 50vh;
  color: white;
  margin-inline-start: 4%;
  margin-block-start: 5%;
  float: left;
  background-color: transparent;
  color: #424242;
  text-align: center;
  border: 1px solid #424242;
  border-radius: 10px;
  padding: 20px 10px;
  overflow: scroll;
}

.float-child3 h1 {
  margin-top: 2%;
  font-size: 2rem;
}
.float-child3 h2 {
  font-size: 1.5rem;
}
.float-child4 h1 {
  margin-top: 2%;
  font-size: 2rem;
}
.float-child4 h2 {
  font-size: 1.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(233, 233, 233, 0.397);
  border-radius: 50%;
}
::-webkit-scrollbar {
  width: 5px;
}
::selection {
  color: black;
  background: white;
}

.renform {
  display: flexbox;
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  float: left;
  padding-top: 10px;
  border : 2px solid black;
  padding-left: 20%;
  padding-top: 30px;
  padding-right: 20%;
}

.rendata {
  display: flexbox;
  position: fixed;
  background-color: #212121;
  color: white;
  width: 60vw;
  margin-block-start: 20vh;
  overflow: scroll;
  border: 1px solid black;
  margin-inline-start: 20vw;
  margin-inline-end: 20vw;
  max-height: 70vh;
}

.errorblock {
  display : flex;
  width : 100%;
  height : 8vh;
  padding-top: 15px;
  border : solid red 1px;
  background: transparent   ;
  color: red;
  float: left;
}

.cardforlist{
 display: flex;
 width : 80%;
 background : white;
}

.dashbox{
  display: block;
  margin-inline-start: 30%;
  margin-block-start: 2%;
  margin-inline-end: 30%;
}

#floatbtn{
  margin-block-end: 45%;
}



@media screen and (max-width: 670px) {
  .block {
    padding-left: 8vw;
  }
  .block > h1 {
    text-align: center;
    color: #212121;
  }

  .float-child1 {
    width: 60%;
    height: 100vh;
    float: left;
    background-color: pink;
  }
  .float-child2 {
    width: 40%;
    height: 100vh;
    float: left;
    background-color: blue;
  }

 
}

@media screen and (max-width: 1000px){
  .dashbox{
    display: block;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
  }
} 

/*

mongodb+srv://blurry:KGKhw20qjSc5QZ82@cluster0-fiwnf.mongodb.net/bruh?retryWrites=true&w=majority
<div className="card transparent">
      <span className="card-title white-text"></span>
   
      
      </div>


   */
